.alojamiento h2 {
    font-size: 1.875rem;
}

.images-container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    grid-template-areas:
        "img1 img1 img2 img3"
        "img1 img1 img4 img5"
    ;
    gap: 10px;
}

.images-container img {
    width: 100%;
}

.images-container .img-1 {
    grid-area: img1;
    border-radius: 5px 0 0 5px;
}

.images-container .img-2 {
    grid-area: img2;
}

.images-container .img-3 {
    grid-area: img3;
    border-radius: 0 5px 0 0;
}

.images-container .img-4 {
    grid-area: img4;
}

.images-container .img-5 {
    grid-area: img5;
    border-radius: 0 0 5px 0;
}

.two-columns {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.alojamiento h3 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 22px;
}

.first-col {
    max-width: 850px;
}

.first-col>*:first-child {
    font-weight: 500;
    margin-top: 10px;
}

.first-col>*:nth-child(2) {
    color: rgb(129, 129, 129);
    font-weight: 300;
}

.alojamiento .host-card {
    background-color: var(--subSecondaryColor);
    margin-top: 20px;
    padding: 1em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 25px;
    max-width: 550px;
}

.alojamiento .host-card p {
    margin: 0;
}

.alojamiento .host-card .second-col>*:first-child {
    font-weight: 600;
}

.alojamiento .host-card .second-col>*:last-child {
    font-size: .85rem;
    font-weight: 300;
}

.alojamiento .host-card .host-profile {
    width: 45px;
    height: 45px;
    background-color: gray;
    border-radius: 50%;
}

.alojamiento .host-card .host-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.alojamiento .host-card a {
    margin-left: auto;
    background-color: var(--mainColor);
    color: var(--subSecondaryColor);
    padding: .5em 1em;
    border-radius: 5px;
    font-size: 0.875rem;
    font-weight: 500;
}

.reservation-card {
    width: 380px;
    padding: 1.5em 1em;
    border-radius: 5px;
    background-color: var(--subSecondaryColor);
}

.reservation-card p {
    margin: 0;
}

.reservation-card .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reservation-card .row .price {
    font-size: 1.25rem;
    font-weight: 600;
}

.reservation-card .row .price span {
    font-size: 1rem;
    font-weight: 300;
}

.reservation-card .row .rate {
    display: flex;
    align-items: center;
    gap: 3px;
}

.reservation-card .row .icon {
    font-size: 16px;
}

.reservation-card .row.price {
    padding-top: 10px;
    border-top: 1px solid gainsboro;
    border-radius: 2px;
}

.reservation-card .row.price>*:first-child {
    font-weight: 600;
}

.reservation-card .total-price {
    font-weight: 300;
}

.reservation-card form {
    margin: 20px 0;
}

.reservation-card form .inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: .5em;
}

.reservation-card form .input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.reservation-card form input {
    border: none;
    background-color: inherit;
    width: max-content;
    color: #717171;
    font-family: inherit;
    font-size: 16px;
    padding: 0;
}

.reservation-card form input:focus {
    outline: none;
    border-bottom: 1px solid var(--mainColor);
}

.reservation-card form button {
    border: none;
    padding: .5em 0;
    font-size: 1.1rem;
    background-color: var(--mainColor);
    border-radius: 5px;
    font-weight: 600;
    color: var(--subSecondaryColor);
    margin-top: 10px;
    width: 100%;
}

.reservation-card form button:disabled {
    opacity: .7;
    cursor: default;
}